.container {
  padding: 0.2em;
}

.container.grid {
  width: 50%;
}

.container.list {
  width: 100%;
}

.video {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: transform 250ms ease-in;
  box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 40%;
  height: 100%;
}

.metadata {
  padding: 0 0.2em;
}

.title,
.channel {
  margin: 0;
  font-size: 0.9rem;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.channel {
  font-size: 0.8rem;
  color: #757575;
  margin-top: 0.6em;
}

/* Why doesn't the below work? */
/* @media screen and (max-width: 48rem) {
  .container {
    width: 100%;
  }
} */
